root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.xml]
indent_size = 2

[*.xsd]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.js]
indent_size = 4

[*.ts]
indent_size = 2

[*.json]
indent_size = 2

[*.{md,adoc}]
trim_trailing_whitespace = false

[*.flex]
indent_size = 2
