target
dist
*.iml
*.ipr
*.iws
*.class
*~
/classes/
node_modules/
.idea/
.vscode/
wiki
felix
.settings
.classpath
.project
.gitshots
test-output
src/documentation/build/
.node/
dependency-reduced-pom.xml
.yarn/cache/
client/javascript-esm/.yarn/
