
.doc {
  max-width: 90rem;
  font-size: 1.1rem;
}
.nav-container {
  font-size: 1rem;
}

.doc .admonitionblock td.content {
  border: 1px dotted #217ee7;
}

nav.nav-menu h3.title a {
  font-size: 1.4rem;
}

.toolbar {
  font-size: 1.1rem;
}

a { text-decoration: none; }
a:focus { outline: 1px dotted }
a:link, a:visited { color:#a20000; }

a.nav-link {
  font-size: 1.2rem;
}

main.article {
  display: flex;
  flex-direction: column;
}

main>.content {
  flex: 1;
}

footer.footer {
  /*position: sticky;*/
  /*bottom: 0;*/
  padding: 0 .5rem;
  background-color: #fafafa;
  max-height: calc(50% + 2.5rem);
  line-height: 2.5rem;
  border-top: 1px solid #e1e1e1;
  text-align: right;
}