<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Integration test webapplication</display-name>

  <servlet>
    <servlet-name>j4p-it</servlet-name>
    <servlet-class>org.jolokia.it.servlet.TestMBeanRegisteringServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>j4p-it</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>

<!--

 jmx4perl - WAR Agent for exporting JMX via JSON

 Copyright (C) 2009 Roland Huß, roland@cpan.org

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

 A commercial license is available as well. Please contact roland@cpan.org for
 further details.
-->
