<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jolokia="http://www.jolokia.org/jolokia-spring/schema/config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.jolokia.org/jolokia-spring/schema/config http://www.jolokia.org/jolokia-spring/schema/config/jolokia-config.xsd
       ">

  <context:property-placeholder system-properties-mode="ENVIRONMENT"/>

  <jolokia:config agentContext="/bla/" order="5"/>

  <jolokia:config agentContext="/j4p/" order="10"/>

  <jolokia:server id="jolokia" lookupConfig="true">
    <jolokia:config
            autoStart="true"
            host="0.0.0.0"
            port="${jolokia.port}"
            />
  </jolokia:server>
</beans>