
@media screen and (min-width: 1024px) {
  html {
    font-size: 14px
  }
}
@media screen and (min-width: 1216px) {
  aside.toc.sidebar {
    flex-basis: 18rem;
  }
}
.toc .toc-menu ul {
  font-size: 0.9rem
}

.doc {
  max-width: 90rem;
  font-size: 1rem;
}
.nav-container {
  font-size: 1rem;
}
.doc table.tableblock {
  font-size: 1rem;
}
.doc p code {
  font-size: 1rem;
}
.doc pre {
  font-size: 1rem;
}

.doc .admonitionblock td.content {
  border: 1px dotted #217ee7;
}

nav.nav-menu h3.title a {
  font-size: 1.1rem;
}

.toolbar {
  font-size: 1rem;
}

a { text-decoration: none; }
a:focus { outline: 1px dotted }
a:link, a:visited { color:#a20000; }
a.externalLink {
  background: url("../img/external.png") right center no-repeat;
  padding-right: 15px;
}

a.nav-link {
  font-size: 1rem;
}

main.article {
  display: flex;
  flex-direction: column;
}

main>.content {
  flex: 1;
}

footer.footer {
  /*position: sticky;*/
  /*bottom: 0;*/
  padding: 0 .5rem;
  background-color: #fafafa;
  max-height: calc(50% + 2.5rem);
  line-height: 2.5rem;
  border-top: 1px solid #e1e1e1;
  text-align: right;
}

code {
  background: transparent !important;
}

mark {
  background-color: #3366aa;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}
