<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Download</title>
    <author email="roland@jolokia.org">Roland Huss</author>
  </properties>

  <body>
    <section name="Jolokia ${currentStableVersion}">
      <p>
        Jolokia can be
        downloaded in two variants: As a binary release including the
        agents and the client libraries and the reference manual (PDF
        and HTML). The source release contains the complete source
        tree mirroring the repository on <a
        href="http://github.com/rhuss/jolokia">GitHub</a>.
      </p>
      <ul>
        <li><strong>jolokia-${currentStableVersion}-bin</strong> (<a
        href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-${currentStableVersion}-bin.tar.gz">tar.gz</a>
        | <a
        href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-${currentStableVersion}-bin.zip">zip</a>)</li>
        <li><strong>jolokia-${currentStableVersion}-source</strong> (<a
        href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-${currentStableVersion}-source.tar.gz">tar.gz</a>
        | <a
        href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-${currentStableVersion}-source.zip">zip</a>)</li>
      </ul>
      <p>
        The agents and the client library can be downloaded directly
        from our maven repository, too:
      </p>
      <table>
        <tbody>
          <tr>
            <th>Artifact</th>
            <th>Download</th>
          </tr>
          <tr>
            <td>WAR-Agent</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-war/${currentStableVersion}/jolokia-war-${currentStableVersion}.war">jolokia-war-${currentStableVersion}.war</a></td>
          </tr>
          <tr>
            <td>WAR-Agent (unsecured)</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-war-unsecured/${currentStableVersion}/jolokia-war-unsecured-${currentStableVersion}.war">jolokia-war-unsecured-${currentStableVersion}.war</a></td>
          </tr>
          <tr>
            <td>Osgi-Agent</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-osgi/${currentStableVersion}/jolokia-osgi-${currentStableVersion}.jar">jolokia-osgi-${currentStableVersion}.jar</a></td>
          </tr>
          <tr>
            <td>Osgi-Agent (full bundle)</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-osgi-bundle/${currentStableVersion}/jolokia-osgi-bundle-${currentStableVersion}.jar">jolokia-osgi-bundle-${currentStableVersion}.jar</a></td>
          </tr>
          <tr>
            <td>Mule-Agent</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-mule/${currentStableVersion}/jolokia-mule-${currentStableVersion}-agent.jar">jolokia-mule-${currentStableVersion}-agent.jar</a></td>
          </tr>
          <tr>
            <td>JVM-Agent</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-jvm/${currentStableVersion}/jolokia-jvm-${currentStableVersion}.jar">jolokia-jvm-${currentStableVersion}.jar</a></td>
          </tr>
          <tr>
            <td>Java Client Library</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-client-java/${currentStableVersion}/jolokia-client-java-${currentStableVersion}.jar">jolokia-client-java-${currentStableVersion}.jar</a></td>
          </tr>
          <tr>
            <td>Jolokia JSR-160 JMX Adapter</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-jmx-adapter/${currentStableVersion}/jolokia-jmx-adapter-${currentStableVersion}-standalone.jar">jolokia-jmx-adapter-${currentStableVersion}-standalone.jar</a></td>
          </tr>
          <tr>
            <td>Jolokia JSR-160 JMX Adapter Kubernetes Extension</td>
            <td><a href="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-kubernetes/${currentStableVersion}/jolokia-kubernetes-${currentStableVersion}-standalone.jar">jolokia-kubernetes-${currentStableVersion}-standalone.jar</a></td>
          </tr>
        </tbody>
      </table>
      <subsection name="Javascript Library">
        <p>
          The Jolokia Javascript client library comes in two variants:
          <code>jolokia.js</code> contains the basics and can be used
          with its <code>request()</code> for sending JSON
          requests. <code>jolokia-simple.js</code> adds on this code
          and provides a simplified API for Jolokia request, but is
          slightly less powerful. Finally,
          <code>jolokia-cubism.js</code> contains the Jolokia <a
          href="http://square.github.com/cubism/">Cubism</a> integration which adds Jolokia as a data
          source. The <code>-min</code> versions are
          compressed with all documentation stripped off and
          recommended for production use.
        </p>
        <table>
          <tbody>
            <tr>
              <th>Script</th>
              <th>Download</th>
            </tr>
            <tr>
              <td>Base script</td>
              <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia.js">jolokia.js</a></td>
            </tr>
            <tr>
              <td>Base script, compressed</td>
              <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-min.js">jolokia-min.js</a></td>
          </tr>
          <tr>
            <td>Simplified API</td>
            <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-simple.js">jolokia-simple.js</a></td>
          </tr>
          <tr>
            <td>Simplified API, compressed</td>
            <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-simple-min.js">jolokia-simple-min.js</a></td>
          </tr>
          <tr>
            <td>Jolokia Cubism Integration</td>
            <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-cubism.js">jolokia-cubism.js</a></td>
          </tr>
          <tr>
            <td>Jolokia Cubism Integration, compressed</td>
            <td><a href="https://github.com/rhuss/jolokia/releases/download/v${currentStableVersion}/jolokia-cubism-min.js">jolokia-cubism-min.js</a></td>
          </tr>
          </tbody>
        </table>
      </subsection>
      <subsection name="Maven">
        <p>
          The main agent functionality is encapsulated in a core jar,
          which can be easily used in own projects. Also, the Java
          client library can be used as a Maven dependency. The dependencies are
        </p>
        <pre class="prettyprint"><![CDATA[
 <dependency>
   <groupId>org.jolokia</groupId>
   <artifactId>jolokia-core</artifactId>
   <version>${currentStableVersion}</version>
 </dependency>]]></pre>
        <p>and</p>
        <pre class="prettyprint"><![CDATA[
 <dependency>
   <groupId>org.jolokia</groupId>
   <artifactId>jolokia-client-java</artifactId>
   <version>${currentStableVersion}</version>
 </dependency>]]></pre>
        <p>
          The Javascript library can easily be used as Maven
          dependency by use of <a href="">javascript-maven-plugin</a>:
        </p>
        <pre class="prettyprint"><![CDATA[
 <dependency>
   <groupId>org.jolokia</groupId>
   <artifactId>jolokia-client-javascript</artifactId>
   <type>javascript</type>
   <version>${currentStableVersion}</version>
 </dependency>]]></pre>
        <p>
          Use a classifier <code>compressed</code> for referencing to
          the compressed versions. A full example, including the
          plugin configuration can be found in the <a
          href="../reference/html/clients.html#js-maven">Reference Manual</a>
        </p>
        <p>
          The released Jolokia artifacts as well as SNAPSHOTS are available from <a
          href="http://search.maven.org/">Maven central</a>.
        </p>
      </subsection>

    </section>
  </body>
</document>
