<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumTest">

  <test name="All Agents">
    <groups>
      <run>
        <include name="Some group" />
      </run>
    </groups>

    <packages>
      <package name="org.package" />
      <package name="org.package2" />
    </packages>
  </test>
</suite>