name: CI

on:
  push:
    branches:
      - main
      - "2.0"
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - "2.0"
    paths-ignore:
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: [11, 17]

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B package
